.left{
    background-color: white;
}

.center{
    background-color: white;
}

.right{
    background: white;
}

li{
    list-style: none;
}

.row{
    padding: 30px 15px 40px 50px;
}

.form-group{
    height: 30vh;
}

a{
    color: gold;
}

li{
    color: gold;
}

a:visited{
    color: gold;
}

.mail-1{
    border-radius: 15px;
    text-align: left;
}

.mail-2{
    border-radius: 15px;
    text-align: left;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.mail-3{
    text-align: left;
    border-radius: 15px; 
}

span{
    color: silver;
    font-size: 14px;
}

.span2{
    color: black;
}

.span3{
    color:black;
    font-weight: bold;
}

.container-fluid{
    background-color: white;
}

h2{
    color: red;
}

