.left{
    height: 100vh;
    background-color: rgb(141, 31, 31);
}

.center{
    height: 100vh;
    background-color: white;
}

.right{
    height: 100vh;
    background: linear-gradient(120deg, crimson, tan, gold, goldenrod, rgb(141, 31, 31), rgb(173, 128, 69), black);
}

li{
    list-style: none;
}

.row{
    padding: 30px 0px 30px 70px;
}

.form-group{
    height: 30vh;
}

a{
    color: gold;
}

li{
    color: gold;
}

a:visited{
    color: gold;
}

.mail-1{
    border-radius: 15px;
    text-align: left;
}

.mail-2{
    border-radius: 15px;
    text-align: left;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    min-height: auto;
}

.mail-3{
    height: 15vh;
    border-radius: 15px; 
}

span{
    color: silver;
    font-size: 14px;
}

.span2{
    color: black;
}

.span3{
    color:black;
    font-weight: bold;
}

.container-fluid{
    background-color: black;
}

